$main-color: #283645;
$pink-text: #d22856;
$white: #ffffff;
$bg-lightgray: #f2f2f2;

$mobile-width: 320px;
$tablet-width: 700px;
$desktop-width: 1200px;

$pink-hover: #d22856;
$pink-active: rgba(210, 40, 86, 0.3);

$font14: 14px;
$lh24: 24px;

$font18: 18px;
$lh24: 24px;


$font24: 24px;
$lh30: 30px;


$font14: 14px;
$lh30: 30px;

$font18: 18px;
$lh30: 30px;


$font18: 18px;
$lh32: 32px;
