body {
  background: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 255px;
  background-size: 700px auto;
  background-color: $main-color;
  min-height: 750px;
}
