.contacts {
  display: block;
  position: relative;

  min-height: 400px;

  background-color: $white;

  text-align: center;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;

  &::after {
    content: "";
    height: 35px;
    background-image:  url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    display: block;
    z-index: 2;
  }
}

.contacts__text {
  font-family: "Open Sans Light";
  color: $main-color;
  @include font-2430;

  padding-bottom: 40px;
}

.contacts__data {
  display: block;
  position: relative;

  padding-bottom: 30px;

  min-height: 60px;
}

.contacts__data-title {
  font-family: "Open Sans Bold";
  @include font-1830;

  color: $main-color;
}

.contacts__data-value {
  font-family: "Open Sans Light";
  @include font-2430;

  color: $pink-text;
}
